name: Deploy WordPress to Staging & Production

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH known_hosts
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: Start ssh-agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Rsync to STAGING
        run: |
          rsync -az \
            --exclude-from=.rsync-exclude \
            -e "ssh -o StrictHostKeyChecking=yes -l ${{ secrets.SSH_USER }}" \
            ./ ${{ secrets.SSH_HOST }}:/var/www/staging.test.ubuntunet.net/

      - name: Rsync to PRODUCTION
        run: |
          rsync -az \
            --exclude-from=.rsync-exclude \
            -e "ssh -o StrictHostKeyChecking=yes -l ${{ secrets.SSH_USER }}" \
            ./ ${{ secrets.SSH_HOST }}:/var/www/test.ubuntunet.net/
